.slide,
.carousel-slide {
    height: 60vh;

    @media screen and (min-width: 48em) and (orientation: landscape) and (max-width: 60em) {
        height: 100vh;
    }

    @media screen and (min-width: 48em) {
        height: calc(0.66 * 85vw);
    }

    @media screen and (min-width: 64em) {
        height: 683px;
    }

    @media screen and (min-width: 122em) {
        height: 1093px;
    }
}
