body {
    scroll-behavior: smooth;

    a {
        text-decoration: none;
    }

    main {
        button,
        a {
            cursor: pointer !important;
        }

        &.custom-cursor {
            button,
            a {
                cursor: none !important;
            }
        }
    }
}

* {
    scroll-behavior: smooth;
}
